<% @article.comments.each do |comment| %>
    <p>
      <strong>Título:</strong>
      <%= comment.commenter %>
    </p>
   
    <p>
      <strong>Texto:</strong>
      <%= comment.body %>
    </p>
  <% end %>