<br>
<%= image_tag('editando.jpg', widht: '300px', height: '300px') %>
<br>
<h3>Editar Artículo</h3>
 
<%= render 'form' %>
 
<%= link_to 'Regresar al listado de artículos', articles_path, class: 'btn btn-link' %>
