<%#= image_tag('escribir_articulo.jpg', widht: '300px', height: '300px', class: 'rounded', alt: 'escribir_articulo') %>
<br>
<h1>Nuevo Artículo</h1>

  <%= render 'form' %>

<%= link_to 'Regresar al listado de artículos', articles_path, class: 'btn btn-link' %>

