<h3>
    Detalle del articulo
</h3> 

<p>
  <strong>Title:</strong>
</p> 

<p>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
</p>

<p>
  <%= @article.text %>
</p>

<%= link_to 'Regresar al listado de artículos', articles_path %>

