// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p {
    color: green;
}

.titulo {
    color: red;
}

#resaltado {
    font-size: 30px;
}